.wrapper-box {
  overflow: hidden;
}
.hero-block {
  width: 100%;
  height: 870px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-backface-visibility: hidden;
  &:hover {
    transform: scale(1.01);
    .hero-info-block {
      opacity: 1;
    }
  }
  .hero-info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s ease-out;
    h4 {
      font-size: 45px;
      font-family: "Playfair Display", serif;
      color: #fff;
    }
  }
}
