.heading-container {
  background-color: #f8f8fa;
  h1 {
    padding: 40px 0;
    font-family: "Playfair Display", serif;
    font-size: 28px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
