.cart-dropdown {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  width: 300px;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 30px;
  text-align: left;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  button {
    width: 100%;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
