.checkout-page {
  padding: 80px 0;
  table {
    th {
      padding: 20px 0;
    }
    thead {
      border: 0;
      border-bottom: 1px solid #e5e5e5;
      tr {
        th {
          border: 0;
          font-size: 14px;
          font-weight: 400;
          color: #666;
        }
      }
    }
  }
}
