nav {
  background-color: #fff !important;
  border-bottom: 1px solid rgb(239, 239, 239);
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-brand {
    color: #000 !important;
    font-size: 30px;
    font-family: "Yeseva One", cursive;
  }
  .navbar-nav {
    align-items: center;
    .nav-item {
      .nav-link {
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;
        transition: all 0.3s ease-out;
        text-transform: uppercase;
        color: #000;
        &:hover {
          color: #41a28e;
        }
      }
      .active {
        color: #41a28e !important;
      }
      .cart {
        margin-left: 10px;
        position: relative;
        svg {
          width: 25px;
          height: 25px;
        }
        .cart-items {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -70%;
          right: -30%;
          width: 20px;
          height: 20px;
          background-color: #41a28e;
          border-radius: 50%;
          color: #fff;
          font-size: 11px;
        }
      }
    }
  }
}
