tbody {
  tr {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .table-row {
    th {
      vertical-align: middle;
    }
    .image-block {
      width: 133px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name-block {
      font-family: "Playfair Display", serif;
      color: #000;
      font-weight: 400;
      font-size: 18px;
    }
    .price-block {
      font-weight: 400;
      color: #666;
      font-size: 14px;
    }
    .quantity-wrapp {
      .quantity-block {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        .value {
          margin: 0 24px 0 0;
          border: 1px solid #e5e5e5;
          border-right: none;
          height: 48px;
          width: 48px;
          text-align: center;
          line-height: 48px;
          display: block;
          font-weight: 400;
          color: #666;
        }
        .arrow {
          position: absolute;
          right: 0;
          width: 24px;
          height: 24px;
          line-height: 21px;
          border: 1px solid #e5e5e5;
          text-align: center;
          font-weight: 100;
          cursor: pointer;
          svg {
            width: 10px;
            height: 10px;
          }
        }
        .top {
          top: 0;
          border-bottom: none;
        }
        .bottom {
          bottom: 0;
        }
      }
    }
    .remove-button {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
