.heading-title {
  padding-bottom: 50px;
  h2 {
    font-family: "Playfair Display", serif;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
  }
  p {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: #a0a0a0;
  }
}
