.green-btn {
  width: 170px;
  height: 46px;
  font-size: 12px;
  color: #fff;
  background-color: #41a28e;
  letter-spacing: 2.5px;
  border-radius: 0;
  padding: 0 38px;
  text-transform: uppercase;
  white-space: normal;
  transition: all 0.3s ease-out;
  word-wrap: break-word;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}
